
<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

  <div id="box">
    <div id="container">
          <form class="form loginform">
              <label for="email-login">email:</label>
              <input class="form-input" type="text" id="email" />
              <label for="password-login">password:</label>
              <input class="form-input" type="password" id="password" />
              <button class="btn btn-primary" type="submit" id="login-button">login</button>
          </form>
        </div>
    </div>
  </div>
</div>

    <div class="container" style="background-color:#f1f1f1">
      <span class="pass">Forgot <a href="#">password?</a></span>
    </div>

<script src = "/js/login.js"></script>
