
<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form loginform">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
</div>

    <div class="container" style="background-color:#f1f1f1">
      <span class="pass">Forgot <a href="#">password?</a></span>
    </div>

<script src = "/js/login.js"></script>