<nav>
    <button id="logout">Logout?</button>
</nav>
<h1 id="head">Profile Page</h1>
    <div id="box">
        <div id="loginform">
            <div href="" id="search">
                <label for="searchInput">Find Book</label>
                <input id="searchInput" type="text" placeholder="Search">
            </div>
            <button id="searchBtn">search</button>

            <div href="" id="params">
                <label for="searchInput">Find Video</label>
                <input id="paramsInput" type="text" placeholder="Search">
            </div>
            <button id="paramsBtn">search</button>
        </div>
    </div>
<div class="bookContainer"></div>
<div class="videoContainer"></div>
<script src="./js/profile.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./js/axios.js"></script>