<nav>
    <div>Shelfing</div>
    <div>Log Out</div>
</nav>
<h1>Profile Page</h1>
<div href="" id="search">
    <label for="searchInput">Find Book</label>
    <input id="searchInput" type="text" placeholder="Search">
</div>
<button id="searchBtn">search</button>

<div href="" id="params">
    <label for="searchInput">Find Video</label>
    <input id="paramsInput" type="text" placeholder="Search">
</div>
<button id="paramsBtn">search</button>
<div id="cards"></div>