<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="axios.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div href="" id="search">
        <label for="searchInput">Find Book</label>
        <input id="searchInput" type="text" placeholder="Search">
    </div>
    <button id="searchBtn">search</button>

    <div href="" id="params">
        <label for="searchInput">Find Video</label>
        <input id="paramsInput" type="text" placeholder="Search">
    </div>
    <button id="paramsBtn">search</button>
</body>
</html>